#post-section {
  margin-top: -10px;

  .title {
    font-size: 24px;
    font-weight: 600;
  }

  .form-group {
    margin-top: 10px;
  }

  .upload-container {
    display: flex;
    gap: 20px;

    .btn-upload {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      aspect-ratio: 1.5/1;
      border-radius: var(--radius);
      border: 1px solid var(--border-light);
      background-color: white;
      cursor: pointer;
      gap: 5px;

      i {
        font-size: 18px;
      }

      &:hover {
        background-color: var(--bg-hover);
      }
    }
  }

  #location-btn,
  .location-label {
    display: flex;
    gap: 10px;
    border: 1px solid var(--border-light);
    border-radius: var(--radius);
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    i {
      font-size: 16px;
    }
  }
}
